@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('./normalize.css');

/* Base page */

body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  padding-top: 14px;
  color: #FF3366;
  font-size: 48px;
  margin: 0;
  text-align: center;
}

#game {
  display: flex;
  justify-content: center;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  color: #FF3366;
  font-size: 18px;
  margin: 0;
  padding: 18px 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FF3366;
  border-radius: 999px;
}

.seperator {
  content: '';
  border-left: 1px solid #FF3366;
  height: 54px;
  margin: 0 10px;
}

.btn {
  display: flex;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  margin-right: 24px;
}

.btn-primary {
  color: #ffffff;
  font-size: 18px;
  padding: 18px 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(135deg, #ff3366 0%, #ff336680 100%);
  box-shadow: 0 0 10px 1px #ff3366;
}

.btn-primary>svg {
  color: #ffffff;
}

.btn-primary>span {
  margin-right: 8px;
}

.btn-icon {
  background-color: #ffffff;
  padding: 18px;
  box-shadow: 0 0 10px 1px #00000036;
}

svg {
  color: #ff3366B0;
  height: 24px;
}

.footer {
  text-align: center;
}

.footer>p {
  margin: 2px 0px;
  font-size: 14px;
  color: #777777;
}

.footer>a {
  text-decoration: none;
  font-size: 12px;
  opacity: 0.8;
}

/* Modal Styles */

.modal {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #00000080;
  display: grid;
  place-items: center;
}

.card {
  background-color: #ffffff;
  padding: 1.8rem 2.5rem;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  color: #1c1a2c;
  box-shadow: 0 0 20px 1px #1c1a2c6c;
  animation: grow 180ms ease-in;
}

.card > p {
  font-size: 1.1rem;
  margin: .4rem;
}

.card > button {
  margin-top: 1rem;
  margin-right: 0px;
  padding: .6rem 0px;
  text-transform: uppercase;
  display: block;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(135deg, #ff3366 0%, #ff336680 100%);
}

code {
  background-color: #1c1a2c3f;
  padding: 0.3ch 0.6ch;
  border-radius: 4px;
}

@keyframes grow {
  0% {
    transform: scale(0.4);
  }
  80% {
    transform: scale(1.14);
  }
  100% {
    transform: scale(1);
  }
}